// Helpers
%hidden {
  display: none;
}

img {
  max-width: 100%;
}

// Layout
.logo-list {
  white-space: nowrap;
  overflow: hidden;
  height: 70px;
  width: 100%;
  img {
    max-height: 100%;
    filter: grayscale(1);
    &:hover {
      filter: initial;
    }
  }
}

.clients {
  div {
    @extend %hidden; 
  }
}
