@import 'icomoon';

// Icons
.icon-arrow-right2 {
  position: relative;
  top: 2px;
}

.icon-star-full {
  color: orange;
  font-size: 50px;
  margin-bottom: 25px;
  display: inline-block;
}

.icon {
  position: relative;
  top: 2px;
}