$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-home: unquote('"\\e900"');
$icon-home2: unquote('"\\e901"');
$icon-home3: unquote('"\\e902"');
$icon-office: unquote('"\\e903"');
$icon-newspaper: unquote('"\\e904"');
$icon-pencil: unquote('"\\e905"');
$icon-pencil2: unquote('"\\e906"');
$icon-quill: unquote('"\\e907"');
$icon-pen: unquote('"\\e908"');
$icon-blog: unquote('"\\e909"');
$icon-eyedropper: unquote('"\\e90a"');
$icon-droplet: unquote('"\\e90b"');
$icon-paint-format: unquote('"\\e90c"');
$icon-image: unquote('"\\e90d"');
$icon-images: unquote('"\\e90e"');
$icon-camera: unquote('"\\e90f"');
$icon-headphones: unquote('"\\e910"');
$icon-music: unquote('"\\e911"');
$icon-play: unquote('"\\e912"');
$icon-film: unquote('"\\e913"');
$icon-video-camera: unquote('"\\e914"');
$icon-dice: unquote('"\\e915"');
$icon-pacman: unquote('"\\e916"');
$icon-spades: unquote('"\\e917"');
$icon-clubs: unquote('"\\e918"');
$icon-diamonds: unquote('"\\e919"');
$icon-bullhorn: unquote('"\\e91a"');
$icon-connection: unquote('"\\e91b"');
$icon-podcast: unquote('"\\e91c"');
$icon-feed: unquote('"\\e91d"');
$icon-mic: unquote('"\\e91e"');
$icon-book: unquote('"\\e91f"');
$icon-books: unquote('"\\e920"');
$icon-library: unquote('"\\e921"');
$icon-file-text: unquote('"\\e922"');
$icon-profile: unquote('"\\e923"');
$icon-file-empty: unquote('"\\e924"');
$icon-files-empty: unquote('"\\e925"');
$icon-file-text2: unquote('"\\e926"');
$icon-file-picture: unquote('"\\e927"');
$icon-file-music: unquote('"\\e928"');
$icon-file-play: unquote('"\\e929"');
$icon-file-video: unquote('"\\e92a"');
$icon-file-zip: unquote('"\\e92b"');
$icon-copy: unquote('"\\e92c"');
$icon-paste: unquote('"\\e92d"');
$icon-stack: unquote('"\\e92e"');
$icon-folder: unquote('"\\e92f"');
$icon-folder-open: unquote('"\\e930"');
$icon-folder-plus: unquote('"\\e931"');
$icon-folder-minus: unquote('"\\e932"');
$icon-folder-download: unquote('"\\e933"');
$icon-folder-upload: unquote('"\\e934"');
$icon-price-tag: unquote('"\\e935"');
$icon-price-tags: unquote('"\\e936"');
$icon-barcode: unquote('"\\e937"');
$icon-qrcode: unquote('"\\e938"');
$icon-ticket: unquote('"\\e939"');
$icon-cart: unquote('"\\e93a"');
$icon-coin-dollar: unquote('"\\e93b"');
$icon-coin-euro: unquote('"\\e93c"');
$icon-coin-pound: unquote('"\\e93d"');
$icon-coin-yen: unquote('"\\e93e"');
$icon-credit-card: unquote('"\\e93f"');
$icon-calculator: unquote('"\\e940"');
$icon-lifebuoy: unquote('"\\e941"');
$icon-phone: unquote('"\\e942"');
$icon-phone-hang-up: unquote('"\\e943"');
$icon-address-book: unquote('"\\e944"');
$icon-envelop: unquote('"\\e945"');
$icon-pushpin: unquote('"\\e946"');
$icon-location: unquote('"\\e947"');
$icon-location2: unquote('"\\e948"');
$icon-compass: unquote('"\\e949"');
$icon-compass2: unquote('"\\e94a"');
$icon-map: unquote('"\\e94b"');
$icon-map2: unquote('"\\e94c"');
$icon-history: unquote('"\\e94d"');
$icon-clock: unquote('"\\e94e"');
$icon-clock2: unquote('"\\e94f"');
$icon-alarm: unquote('"\\e950"');
$icon-bell: unquote('"\\e951"');
$icon-stopwatch: unquote('"\\e952"');
$icon-calendar: unquote('"\\e953"');
$icon-printer: unquote('"\\e954"');
$icon-keyboard: unquote('"\\e955"');
$icon-display: unquote('"\\e956"');
$icon-laptop: unquote('"\\e957"');
$icon-mobile: unquote('"\\e958"');
$icon-mobile2: unquote('"\\e959"');
$icon-tablet: unquote('"\\e95a"');
$icon-tv: unquote('"\\e95b"');
$icon-drawer: unquote('"\\e95c"');
$icon-drawer2: unquote('"\\e95d"');
$icon-box-add: unquote('"\\e95e"');
$icon-box-remove: unquote('"\\e95f"');
$icon-download: unquote('"\\e960"');
$icon-upload: unquote('"\\e961"');
$icon-floppy-disk: unquote('"\\e962"');
$icon-drive: unquote('"\\e963"');
$icon-database: unquote('"\\e964"');
$icon-undo: unquote('"\\e965"');
$icon-redo: unquote('"\\e966"');
$icon-undo2: unquote('"\\e967"');
$icon-redo2: unquote('"\\e968"');
$icon-forward: unquote('"\\e969"');
$icon-reply: unquote('"\\e96a"');
$icon-bubble: unquote('"\\e96b"');
$icon-bubbles: unquote('"\\e96c"');
$icon-bubbles2: unquote('"\\e96d"');
$icon-bubble2: unquote('"\\e96e"');
$icon-bubbles3: unquote('"\\e96f"');
$icon-bubbles4: unquote('"\\e970"');
$icon-user: unquote('"\\e971"');
$icon-users: unquote('"\\e972"');
$icon-user-plus: unquote('"\\e973"');
$icon-user-minus: unquote('"\\e974"');
$icon-user-check: unquote('"\\e975"');
$icon-user-tie: unquote('"\\e976"');
$icon-quotes-left: unquote('"\\e977"');
$icon-quotes-right: unquote('"\\e978"');
$icon-hour-glass: unquote('"\\e979"');
$icon-spinner: unquote('"\\e97a"');
$icon-spinner2: unquote('"\\e97b"');
$icon-spinner3: unquote('"\\e97c"');
$icon-spinner4: unquote('"\\e97d"');
$icon-spinner5: unquote('"\\e97e"');
$icon-spinner6: unquote('"\\e97f"');
$icon-spinner7: unquote('"\\e980"');
$icon-spinner8: unquote('"\\e981"');
$icon-spinner9: unquote('"\\e982"');
$icon-spinner10: unquote('"\\e983"');
$icon-spinner11: unquote('"\\e984"');
$icon-binoculars: unquote('"\\e985"');
$icon-search: unquote('"\\e986"');
$icon-zoom-in: unquote('"\\e987"');
$icon-zoom-out: unquote('"\\e988"');
$icon-enlarge: unquote('"\\e989"');
$icon-shrink: unquote('"\\e98a"');
$icon-enlarge2: unquote('"\\e98b"');
$icon-shrink2: unquote('"\\e98c"');
$icon-key: unquote('"\\e98d"');
$icon-key2: unquote('"\\e98e"');
$icon-lock: unquote('"\\e98f"');
$icon-unlocked: unquote('"\\e990"');
$icon-wrench: unquote('"\\e991"');
$icon-equalizer: unquote('"\\e992"');
$icon-equalizer2: unquote('"\\e993"');
$icon-cog: unquote('"\\e994"');
$icon-cogs: unquote('"\\e995"');
$icon-hammer: unquote('"\\e996"');
$icon-magic-wand: unquote('"\\e997"');
$icon-aid-kit: unquote('"\\e998"');
$icon-bug: unquote('"\\e999"');
$icon-pie-chart: unquote('"\\e99a"');
$icon-stats-dots: unquote('"\\e99b"');
$icon-stats-bars: unquote('"\\e99c"');
$icon-stats-bars2: unquote('"\\e99d"');
$icon-trophy: unquote('"\\e99e"');
$icon-gift: unquote('"\\e99f"');
$icon-glass: unquote('"\\e9a0"');
$icon-glass2: unquote('"\\e9a1"');
$icon-mug: unquote('"\\e9a2"');
$icon-spoon-knife: unquote('"\\e9a3"');
$icon-leaf: unquote('"\\e9a4"');
$icon-rocket: unquote('"\\e9a5"');
$icon-meter: unquote('"\\e9a6"');
$icon-meter2: unquote('"\\e9a7"');
$icon-hammer2: unquote('"\\e9a8"');
$icon-fire: unquote('"\\e9a9"');
$icon-lab: unquote('"\\e9aa"');
$icon-magnet: unquote('"\\e9ab"');
$icon-bin: unquote('"\\e9ac"');
$icon-bin2: unquote('"\\e9ad"');
$icon-briefcase: unquote('"\\e9ae"');
$icon-airplane: unquote('"\\e9af"');
$icon-truck: unquote('"\\e9b0"');
$icon-road: unquote('"\\e9b1"');
$icon-accessibility: unquote('"\\e9b2"');
$icon-target: unquote('"\\e9b3"');
$icon-shield: unquote('"\\e9b4"');
$icon-power: unquote('"\\e9b5"');
$icon-switch: unquote('"\\e9b6"');
$icon-power-cord: unquote('"\\e9b7"');
$icon-clipboard: unquote('"\\e9b8"');
$icon-list-numbered: unquote('"\\e9b9"');
$icon-list: unquote('"\\e9ba"');
$icon-list2: unquote('"\\e9bb"');
$icon-tree: unquote('"\\e9bc"');
$icon-menu: unquote('"\\e9bd"');
$icon-menu2: unquote('"\\e9be"');
$icon-menu3: unquote('"\\e9bf"');
$icon-menu4: unquote('"\\e9c0"');
$icon-cloud: unquote('"\\e9c1"');
$icon-cloud-download: unquote('"\\e9c2"');
$icon-cloud-upload: unquote('"\\e9c3"');
$icon-cloud-check: unquote('"\\e9c4"');
$icon-download2: unquote('"\\e9c5"');
$icon-upload2: unquote('"\\e9c6"');
$icon-download3: unquote('"\\e9c7"');
$icon-upload3: unquote('"\\e9c8"');
$icon-sphere: unquote('"\\e9c9"');
$icon-earth: unquote('"\\e9ca"');
$icon-link: unquote('"\\e9cb"');
$icon-flag: unquote('"\\e9cc"');
$icon-attachment: unquote('"\\e9cd"');
$icon-eye: unquote('"\\e9ce"');
$icon-eye-plus: unquote('"\\e9cf"');
$icon-eye-minus: unquote('"\\e9d0"');
$icon-eye-blocked: unquote('"\\e9d1"');
$icon-bookmark: unquote('"\\e9d2"');
$icon-bookmarks: unquote('"\\e9d3"');
$icon-sun: unquote('"\\e9d4"');
$icon-contrast: unquote('"\\e9d5"');
$icon-brightness-contrast: unquote('"\\e9d6"');
$icon-star-empty: unquote('"\\e9d7"');
$icon-star-half: unquote('"\\e9d8"');
$icon-star-full: unquote('"\\e9d9"');
$icon-heart: unquote('"\\e9da"');
$icon-heart-broken: unquote('"\\e9db"');
$icon-man: unquote('"\\e9dc"');
$icon-woman: unquote('"\\e9dd"');
$icon-man-woman: unquote('"\\e9de"');
$icon-happy: unquote('"\\e9df"');
$icon-happy2: unquote('"\\e9e0"');
$icon-smile: unquote('"\\e9e1"');
$icon-smile2: unquote('"\\e9e2"');
$icon-tongue: unquote('"\\e9e3"');
$icon-tongue2: unquote('"\\e9e4"');
$icon-sad: unquote('"\\e9e5"');
$icon-sad2: unquote('"\\e9e6"');
$icon-wink: unquote('"\\e9e7"');
$icon-wink2: unquote('"\\e9e8"');
$icon-grin: unquote('"\\e9e9"');
$icon-grin2: unquote('"\\e9ea"');
$icon-cool: unquote('"\\e9eb"');
$icon-cool2: unquote('"\\e9ec"');
$icon-angry: unquote('"\\e9ed"');
$icon-angry2: unquote('"\\e9ee"');
$icon-evil: unquote('"\\e9ef"');
$icon-evil2: unquote('"\\e9f0"');
$icon-shocked: unquote('"\\e9f1"');
$icon-shocked2: unquote('"\\e9f2"');
$icon-baffled: unquote('"\\e9f3"');
$icon-baffled2: unquote('"\\e9f4"');
$icon-confused: unquote('"\\e9f5"');
$icon-confused2: unquote('"\\e9f6"');
$icon-neutral: unquote('"\\e9f7"');
$icon-neutral2: unquote('"\\e9f8"');
$icon-hipster: unquote('"\\e9f9"');
$icon-hipster2: unquote('"\\e9fa"');
$icon-wondering: unquote('"\\e9fb"');
$icon-wondering2: unquote('"\\e9fc"');
$icon-sleepy: unquote('"\\e9fd"');
$icon-sleepy2: unquote('"\\e9fe"');
$icon-frustrated: unquote('"\\e9ff"');
$icon-frustrated2: unquote('"\\ea00"');
$icon-crying: unquote('"\\ea01"');
$icon-crying2: unquote('"\\ea02"');
$icon-point-up: unquote('"\\ea03"');
$icon-point-right: unquote('"\\ea04"');
$icon-point-down: unquote('"\\ea05"');
$icon-point-left: unquote('"\\ea06"');
$icon-warning: unquote('"\\ea07"');
$icon-notification: unquote('"\\ea08"');
$icon-question: unquote('"\\ea09"');
$icon-plus: unquote('"\\ea0a"');
$icon-minus: unquote('"\\ea0b"');
$icon-info: unquote('"\\ea0c"');
$icon-cancel-circle: unquote('"\\ea0d"');
$icon-blocked: unquote('"\\ea0e"');
$icon-cross: unquote('"\\ea0f"');
$icon-checkmark: unquote('"\\ea10"');
$icon-checkmark2: unquote('"\\ea11"');
$icon-spell-check: unquote('"\\ea12"');
$icon-enter: unquote('"\\ea13"');
$icon-exit: unquote('"\\ea14"');
$icon-play2: unquote('"\\ea15"');
$icon-pause: unquote('"\\ea16"');
$icon-stop: unquote('"\\ea17"');
$icon-previous: unquote('"\\ea18"');
$icon-next: unquote('"\\ea19"');
$icon-backward: unquote('"\\ea1a"');
$icon-forward2: unquote('"\\ea1b"');
$icon-play3: unquote('"\\ea1c"');
$icon-pause2: unquote('"\\ea1d"');
$icon-stop2: unquote('"\\ea1e"');
$icon-backward2: unquote('"\\ea1f"');
$icon-forward3: unquote('"\\ea20"');
$icon-first: unquote('"\\ea21"');
$icon-last: unquote('"\\ea22"');
$icon-previous2: unquote('"\\ea23"');
$icon-next2: unquote('"\\ea24"');
$icon-eject: unquote('"\\ea25"');
$icon-volume-high: unquote('"\\ea26"');
$icon-volume-medium: unquote('"\\ea27"');
$icon-volume-low: unquote('"\\ea28"');
$icon-volume-mute: unquote('"\\ea29"');
$icon-volume-mute2: unquote('"\\ea2a"');
$icon-volume-increase: unquote('"\\ea2b"');
$icon-volume-decrease: unquote('"\\ea2c"');
$icon-loop: unquote('"\\ea2d"');
$icon-loop2: unquote('"\\ea2e"');
$icon-infinite: unquote('"\\ea2f"');
$icon-shuffle: unquote('"\\ea30"');
$icon-arrow-up-left: unquote('"\\ea31"');
$icon-arrow-up: unquote('"\\ea32"');
$icon-arrow-up-right: unquote('"\\ea33"');
$icon-arrow-right: unquote('"\\ea34"');
$icon-arrow-down-right: unquote('"\\ea35"');
$icon-arrow-down: unquote('"\\ea36"');
$icon-arrow-down-left: unquote('"\\ea37"');
$icon-arrow-left: unquote('"\\ea38"');
$icon-arrow-up-left2: unquote('"\\ea39"');
$icon-arrow-up2: unquote('"\\ea3a"');
$icon-arrow-up-right2: unquote('"\\ea3b"');
$icon-arrow-right2: unquote('"\\ea3c"');
$icon-arrow-down-right2: unquote('"\\ea3d"');
$icon-arrow-down2: unquote('"\\ea3e"');
$icon-arrow-down-left2: unquote('"\\ea3f"');
$icon-arrow-left2: unquote('"\\ea40"');
$icon-circle-up: unquote('"\\ea41"');
$icon-circle-right: unquote('"\\ea42"');
$icon-circle-down: unquote('"\\ea43"');
$icon-circle-left: unquote('"\\ea44"');
$icon-tab: unquote('"\\ea45"');
$icon-move-up: unquote('"\\ea46"');
$icon-move-down: unquote('"\\ea47"');
$icon-sort-alpha-asc: unquote('"\\ea48"');
$icon-sort-alpha-desc: unquote('"\\ea49"');
$icon-sort-numeric-asc: unquote('"\\ea4a"');
$icon-sort-numberic-desc: unquote('"\\ea4b"');
$icon-sort-amount-asc: unquote('"\\ea4c"');
$icon-sort-amount-desc: unquote('"\\ea4d"');
$icon-command: unquote('"\\ea4e"');
$icon-shift: unquote('"\\ea4f"');
$icon-ctrl: unquote('"\\ea50"');
$icon-opt: unquote('"\\ea51"');
$icon-checkbox-checked: unquote('"\\ea52"');
$icon-checkbox-unchecked: unquote('"\\ea53"');
$icon-radio-checked: unquote('"\\ea54"');
$icon-radio-checked2: unquote('"\\ea55"');
$icon-radio-unchecked: unquote('"\\ea56"');
$icon-crop: unquote('"\\ea57"');
$icon-make-group: unquote('"\\ea58"');
$icon-ungroup: unquote('"\\ea59"');
$icon-scissors: unquote('"\\ea5a"');
$icon-filter: unquote('"\\ea5b"');
$icon-font: unquote('"\\ea5c"');
$icon-ligature: unquote('"\\ea5d"');
$icon-ligature2: unquote('"\\ea5e"');
$icon-text-height: unquote('"\\ea5f"');
$icon-text-width: unquote('"\\ea60"');
$icon-font-size: unquote('"\\ea61"');
$icon-bold: unquote('"\\ea62"');
$icon-underline: unquote('"\\ea63"');
$icon-italic: unquote('"\\ea64"');
$icon-strikethrough: unquote('"\\ea65"');
$icon-omega: unquote('"\\ea66"');
$icon-sigma: unquote('"\\ea67"');
$icon-page-break: unquote('"\\ea68"');
$icon-superscript: unquote('"\\ea69"');
$icon-subscript: unquote('"\\ea6a"');
$icon-superscript2: unquote('"\\ea6b"');
$icon-subscript2: unquote('"\\ea6c"');
$icon-text-color: unquote('"\\ea6d"');
$icon-pagebreak: unquote('"\\ea6e"');
$icon-clear-formatting: unquote('"\\ea6f"');
$icon-table: unquote('"\\ea70"');
$icon-table2: unquote('"\\ea71"');
$icon-insert-template: unquote('"\\ea72"');
$icon-pilcrow: unquote('"\\ea73"');
$icon-ltr: unquote('"\\ea74"');
$icon-rtl: unquote('"\\ea75"');
$icon-section: unquote('"\\ea76"');
$icon-paragraph-left: unquote('"\\ea77"');
$icon-paragraph-center: unquote('"\\ea78"');
$icon-paragraph-right: unquote('"\\ea79"');
$icon-paragraph-justify: unquote('"\\ea7a"');
$icon-indent-increase: unquote('"\\ea7b"');
$icon-indent-decrease: unquote('"\\ea7c"');
$icon-share: unquote('"\\ea7d"');
$icon-new-tab: unquote('"\\ea7e"');
$icon-embed: unquote('"\\ea7f"');
$icon-embed2: unquote('"\\ea80"');
$icon-terminal: unquote('"\\ea81"');
$icon-share2: unquote('"\\ea82"');
$icon-mail: unquote('"\\ea83"');
$icon-mail2: unquote('"\\ea84"');
$icon-mail3: unquote('"\\ea85"');
$icon-mail4: unquote('"\\ea86"');
$icon-amazon: unquote('"\\ea87"');
$icon-google: unquote('"\\ea88"');
$icon-google2: unquote('"\\ea89"');
$icon-google3: unquote('"\\ea8a"');
$icon-google-plus: unquote('"\\ea8b"');
$icon-google-plus2: unquote('"\\ea8c"');
$icon-google-plus3: unquote('"\\ea8d"');
$icon-hangouts: unquote('"\\ea8e"');
$icon-google-drive: unquote('"\\ea8f"');
$icon-facebook: unquote('"\\ea90"');
$icon-facebook2: unquote('"\\ea91"');
$icon-instagram: unquote('"\\ea92"');
$icon-whatsapp: unquote('"\\ea93"');
$icon-spotify: unquote('"\\ea94"');
$icon-telegram: unquote('"\\ea95"');
$icon-twitter: unquote('"\\ea96"');
$icon-vine: unquote('"\\ea97"');
$icon-vk: unquote('"\\ea98"');
$icon-renren: unquote('"\\ea99"');
$icon-sina-weibo: unquote('"\\ea9a"');
$icon-rss: unquote('"\\ea9b"');
$icon-rss2: unquote('"\\ea9c"');
$icon-youtube: unquote('"\\ea9d"');
$icon-youtube2: unquote('"\\ea9e"');
$icon-twitch: unquote('"\\ea9f"');
$icon-vimeo: unquote('"\\eaa0"');
$icon-vimeo2: unquote('"\\eaa1"');
$icon-lanyrd: unquote('"\\eaa2"');
$icon-flickr: unquote('"\\eaa3"');
$icon-flickr2: unquote('"\\eaa4"');
$icon-flickr3: unquote('"\\eaa5"');
$icon-flickr4: unquote('"\\eaa6"');
$icon-dribbble: unquote('"\\eaa7"');
$icon-behance: unquote('"\\eaa8"');
$icon-behance2: unquote('"\\eaa9"');
$icon-deviantart: unquote('"\\eaaa"');
$icon-500px: unquote('"\\eaab"');
$icon-steam: unquote('"\\eaac"');
$icon-steam2: unquote('"\\eaad"');
$icon-dropbox: unquote('"\\eaae"');
$icon-onedrive: unquote('"\\eaaf"');
$icon-github: unquote('"\\eab0"');
$icon-npm: unquote('"\\eab1"');
$icon-basecamp: unquote('"\\eab2"');
$icon-trello: unquote('"\\eab3"');
$icon-wordpress: unquote('"\\eab4"');
$icon-joomla: unquote('"\\eab5"');
$icon-ello: unquote('"\\eab6"');
$icon-blogger: unquote('"\\eab7"');
$icon-blogger2: unquote('"\\eab8"');
$icon-tumblr: unquote('"\\eab9"');
$icon-tumblr2: unquote('"\\eaba"');
$icon-yahoo: unquote('"\\eabb"');
$icon-yahoo2: unquote('"\\eabc"');
$icon-tux: unquote('"\\eabd"');
$icon-appleinc: unquote('"\\eabe"');
$icon-finder: unquote('"\\eabf"');
$icon-android: unquote('"\\eac0"');
$icon-windows: unquote('"\\eac1"');
$icon-windows8: unquote('"\\eac2"');
$icon-soundcloud: unquote('"\\eac3"');
$icon-soundcloud2: unquote('"\\eac4"');
$icon-skype: unquote('"\\eac5"');
$icon-reddit: unquote('"\\eac6"');
$icon-hackernews: unquote('"\\eac7"');
$icon-wikipedia: unquote('"\\eac8"');
$icon-linkedin: unquote('"\\eac9"');
$icon-linkedin2: unquote('"\\eaca"');
$icon-lastfm: unquote('"\\eacb"');
$icon-lastfm2: unquote('"\\eacc"');
$icon-delicious: unquote('"\\eacd"');
$icon-stumbleupon: unquote('"\\eace"');
$icon-stumbleupon2: unquote('"\\eacf"');
$icon-stackoverflow: unquote('"\\ead0"');
$icon-pinterest: unquote('"\\ead1"');
$icon-pinterest2: unquote('"\\ead2"');
$icon-xing: unquote('"\\ead3"');
$icon-xing2: unquote('"\\ead4"');
$icon-flattr: unquote('"\\ead5"');
$icon-foursquare: unquote('"\\ead6"');
$icon-yelp: unquote('"\\ead7"');
$icon-paypal: unquote('"\\ead8"');
$icon-chrome: unquote('"\\ead9"');
$icon-firefox: unquote('"\\eada"');
$icon-IE: unquote('"\\eadb"');
$icon-edge: unquote('"\\eadc"');
$icon-safari: unquote('"\\eadd"');
$icon-opera: unquote('"\\eade"');
$icon-file-pdf: unquote('"\\eadf"');
$icon-file-openoffice: unquote('"\\eae0"');
$icon-file-word: unquote('"\\eae1"');
$icon-file-excel: unquote('"\\eae2"');
$icon-libreoffice: unquote('"\\eae3"');
$icon-html-five: unquote('"\\eae4"');
$icon-html-five2: unquote('"\\eae5"');
$icon-css3: unquote('"\\eae6"');
$icon-git: unquote('"\\eae7"');
$icon-codepen: unquote('"\\eae8"');
$icon-svg: unquote('"\\eae9"');
$icon-IcoMoon: unquote('"\\eaea"');

