// Banner
.banner {
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #000;
  overflow: hidden;

  .img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .content {
    padding: 3.75rem;
    z-index: 2;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0 1.25rem;
    font-weight: 600;
    color: inherit;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

}