// Footer
.footer-nav {
  color: $white;
  background-color: #323544;
  padding-top: 27px;

  img {
    max-width: 100%;
  }

  h1, h2, h3, h4 {
    color: $white;
  }

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 26px;
  }

  ul {
    list-style: none;
    font-size: .8125rem;
    line-height: 1.375rem;
    padding: 0;
    margin: 0;
    a {
      &:hover {
        text-decoration: underline;
      } 
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }

  a {
    color: $white;
  }
}

.social-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .btn-primary {
    padding: 14px 22px;
    margin: 0 10px 10px 0;
    border-radius: 0;
  }

  a {
    text-align: center;
    background-color: $footer-dark;
  }
  
  .facebook:hover {
    background-color: $facebook;
  }
  
  .linkedin:hover {
    background-color: $linkedin;
  }
  
  .twitter:hover {
    background-color: $twitter;
  }
  
  .instagram:hover {
    background-color: $instagram;
  }

  @media (max-width: 480px) {
    a {
      width: 35%;
    }
  }
}

.footer-bottom {
  background-color: $footer-dark;
  color: $white;
  font-size: .8125rem;
  padding-top: 10px;
  p {
    margin: 0;
    padding: 5px 0 10px;
  }
  a {
    color: $white;
  }
}