// Footer
#footer-nav {
  color: #fff;
  background-color: #323544;
  padding-top: 27px;

  h4 {
    text-transform: uppercase;
    font-weight: 400;
  }

  ul {
    list-style: none;
    font-size: .8125rem;
    line-height: 1.375rem;
    padding: 0;
    margin: 0;
    a {
      &:hover {
        text-decoration: underline;
      } 
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }

  a {
    color: #fff;
  }
}

#footer-bottom {
  background-color: #212330;
  color: #fff;
  font-size: .8125rem;
  padding-top: 10px;
  p {
    margin: 0;
    padding: 5px 0 10px;
  }
  a {
    color: #fff;
  }
}