// Header
.main-header {
  img {
    max-width: 100%;
  }
}
.btn-hamburger {
  background-color: $brand-light;
  height: 56px;
  width: 63px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $brand-dark;
  }
}
