// Header
.main-header .inner {
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-grid;
  width: 100%;
  align-items: center;
  justify-content: space-between; 
  grid-template-areas: 
    "logo     logo    nav"
    "search   search  search";
  grid-gap: 15px;

  .logo {
    grid-area: logo;
  }
  .nav {
    display: table;
    font-size: 1.8rem;
    grid-area: nav;
    text-align: center;

  }
  .call-btn {
    display: table-cell;
    vertical-align: middle;
  }
  img {
    max-width: 100%;
  }
}
.search-lg {
  display: none;
}

.search-input {
  background-color: rgba(0, 0, 0, .1);
  outline: 1px solid hsla(0, 0%, 100%, .2);
  border: 2px solid rgba(0, 0, 0, .1);
  width: 100%;
  padding: 5px 40px 5px 15px;
  height: 47px;
  font-size: 14px;
}
.search-sm,
.search-lg {
  grid-area: search;
}

.search-sm {
  width: 100%;

  form {
    position: relative;

    button {
      height: 100%;
      cursor: pointer;
      font-size: 1.3rem;
      position: absolute;
      right: 5px;
      border: none;
      background: transparent;
      .icon-search {
        position: relative;
        top: 2px;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-header .inner {
    display: flex;
    
    .search-sm {
      display: none;
    }
    .search-lg {
      display: block;
      .search-form {
        display: flex;
      }
      .search-input {
        background-color: $white;
        width: 174px;
        height: 56px;
        padding: 5px 15px;
        margin: 0;
        display: inline-block;
      }
      button {
        display: inline-block;
        margin: 0;
        outline: none;
        padding: 7px 20px 3px;
        height: 56px;
        font-size: 1.5rem;
        border-radius: 0 3px 3px 0;
        border: none;
        vertical-align: bottom;
        // background-color: #999aa2;
        color: #fff;
        cursor: pointer;
      }
    }
    .call-btn {
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .btn-contact, .btn-support {
    display: none;
  }
}
@media (min-width: 992px) {
  .main-header .inner {
    .search-form .search-input {
      display: none;
    }
    .search-lg .search-form button {
      border-radius: 3px;
    }
  }
}
@media (min-width: 1260px) {
  .main-header .inner {
    .search-form .search-input {
      display: initial;
    }
  }
}

