// Layout
.logo-list {
  width: 100%;
  padding: 50px 0;
  overflow-x: hidden;
  img {
    max-height: 70px;
    max-width: 200px;
    filter: grayscale(1);
    &:hover {
      filter: initial;
    }
  }
}
.accreditations {
  display: flex; 
  gap: 50px;
}