// Layout
.logo-list {
  width: 100%;
  padding: 50px 0;
  overflow-x: hidden;
  img {
    margin: 0 50px;
    max-height: 70px;
    max-width: 200px;
    filter: grayscale(1);
    &:hover {
      filter: initial;
    }
  }
  img:first-of-type {
    margin-left: 20px;
  }
}
.accreditations {
  display: flex; 
}