// Main Section

#home-main {
  color: #fff;
  background-color: #333645;
  padding-top: 50px;
  padding-bottom: 50px;

  p a:hover {
    text-decoration: underline;
  }

  h1, h2, h3, p a {
    color: inherit;
    font-weight: 600;
  }

  h2 {
    font-size: 2.25rem;
    margin: 0 0 28px;
  }

  p {
    line-height: 30px;
    &:first-of-type {
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  @media (max-width: 603px) {
    .btn-google {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 538px) {
    .btn-primary:first-of-type {
      margin-bottom: 20px;
    }
  }
}