// Colors

$software         : #f7b322;
$it               : #4183d7;
$digital          : #2ecc71;
$telecoms         : #d64541;
$web              : #926fb1;
$security         : #f62459;
$developer        : #ce4125;

// Brand colors
$google           : #4387f6;
$trustpilot       : #00b67b;
$facebook         : #3b5998;
$linkedin         : #0077b5;
$twitter          : #00aced;
$instagram        : #d93175;