// Colors
/*
main-background:              #333645 *
hamburger:                    #333645 *
a:                            #333645 *
a:hover:                      #121419 *

btn-primary-background:       #272936 *
btn-primary-background:hover: #121318 *

footer-background:            #323544 *
social-logo-background:       #212330 *
*/
// Main colors
$white          : #fff;
$black          : #000;

$brand-light    : #333645;
$brand-dark     : darken($brand-light, 15%); // #121419

$primary-light  : #272936;
$primary-dark  : darken($primary-light, 10%); // #121318;

$footer-light   : #323544;
$footer-dark    : #212330;

$software         : #f7b322;
$software-bg      : #67809F;
$it               : #4183d7;
$digital          : #2ecc71;
$telecoms         : #d64541;
$web              : #926fb1;
$security         : #f62459;
$developer        : #ce4125;
$busdev           : #db8c0d;


// Brand colors
$google           : #4387f6;
$trustpilot       : #00b67b;
$facebook         : #3b5998;
$linkedin         : #0077b5;
$twitter          : #00aced;
$instagram        : #d93175;

